html{
  margin: 0;
  font-family: 'Georgia', 'Times', 'Times New Roman', serif
}

body{
  width: 40%;
  min-width: 400px;
}

h2{
  margin-bottom: 4px;
  font-style: italic;
  font-size: 12px;
}

.box{
  float: left;
  width: 275px;
}

.author p{
  color: grey;
  font-size: x-small;
  margin-right: 3px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

.time p{
  color: #a81817;
  font-size: x-small;
  margin: 0;
}

.text p{
  margin-top: 4px;;
  font-size: 12px;
}

.photo{
  width: 70px;
  margin-top: 3px;
  margin-left: 3px;
}